.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
  animation: appearAnimation 1s ease-in-out;
}

@keyframes appearAnimation {
  from {
    opacity: 0;
    transform: translateY(80px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: #2e363e;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(180deg);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  background-color: red;
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  bottom: 15px;
  left: 15px;
  animation: notificationAnimation 1s ease-in-out infinite;
}

.nav__notification2 {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  right: -5px;
}
